:8081 {
	handle /api/training/* {
		reverse_proxy 127.0.0.1:8767 {
			header_up Host 127.0.0.1:8767
			header_up Origin http://127.0.0.1:8767
			header_up Sec-Fetch-Site same-origin
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
